{% extends 'base.html.twig' %}

{% block title %}Super aplikacja{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<a href="{{ path('app_logout')}}">Wyloguj się</a><br />
<div class="example-wrapper">
    {% if isAdded %}
        <h1>Udało się! Otrzymałeś {% if type == VOUCHER %}voucher{% else %}kartę podarunkową{% endif %}!</h1>
    {% else %}
        <h1>Wystąpił błąd! Przykro nam, nie dostałeś {% if type == VOUCHER %}vouchera{% else %}karty podarunkowej{% endif %}.</h1>
    {% endif %}
    <a href="{{ path('get_vouchers') }}">Wróć do listy voucherów i kart podarunkowych</a>
</div>
{% endblock %}
