{% extends 'base.html.twig' %}

{% block title %}Super aplikacja{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<a href="{{ path('app_logout')}}">Wyloguj się</a><br />
<div class="example-wrapper">
    <h1>Twoje vouchery i karty podarunkowe</h1>
    {% if vouchers is empty %}
        <p>Nie masz jeszcze żadnych voucherów ani kart podarunkowych</p>
    {% else %}
        <table>
            <thead>
                <tr>
                    <td>Identyfikator</td>
                    <td>Typ</td>
                </tr>
            </thead>
            <tbody>
                {% for voucher in vouchers %}
                    <tr>
                        <td>{{voucher.getId()}}</td>
                        <td>{% if voucher.getType() == VOUCHER %}Voucher{% else %}Karta podarunkowa{% endif %}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table><br />
    {% endif %}
    <form action="{{ path( 'add_voucher' ) }}" method="post">
        <input type="submit" value="Proszę o voucher">
    </form>
    <form action="{{ path( 'add_giftcard' ) }}" method="post">
        <input type="submit" value="Proszę o kartę podarunkową">
    </form>
</div>
{% endblock %}
