{% extends 'base.html.twig' %}

{% block title %}Super aplikacja{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Cześć!</h1>

    Czy chciałbyś uzyskać swój super voucher?
    O to co musisz zrobić:
    <ul>
        <li><a href="{{ path('app_register') }}">Zarejestrować się</a> w naszej aplikacji</li>
        <li><a href="{{ path('app_login') }}">Zalogować się</a> i wypełnić formularz!</li>
    </ul>
</div>
{% endblock %}
