{% extends 'base.html.twig' %}

{% block title %}Super aplikacja{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        {% if isComplete %}
        Cześć {{firstname}},<br />
        {% endif %}
        Jesteś zalogowany jako {{username}}. <a href="{{ path('app_logout')}}">Wyloguj się</a><br />

        {% if isComplete %}
        Możesz teraz złożyć wniosek o voucher lub kartę podarunkową do naszej super aplikacji<br />
        <a href="{{ path( 'get_vouchers' ) }}">Sprawdź swoje vouchery</a>
        {% endif %}
    </div>
    {% if isComplete == false %}
        {{form_start(form)}}
            {{ form_row(form.firstname) }}
            {{ form_row(form.lastname) }}
            {{ form_row(form.phone, {'attr': {'placeholder': '+48 000 000 000 / +48 00 000 00 00'}}) }}
            <input type="submit" value="Uzupełnij dane" />
        {{form_end(form)}}
    {% endif %}
{% endblock %}